[Desktop Entry]
Version=0.1
Type=Application
Name=The AZOS Center
Comment=The Center of AZOS functionality
Categories=System;
Keywords=System;
Exec=pkexec /usr/local/bin/azoscentercmd
Icon=/usr/share/icons/default/AZOSLOGO.png
Path=/usr/local/bin
Terminal=true
StartupNotify=false
Name=azoscenter
