[Desktop Entry]
Type=Application
Version=1.0
Name=AZOS GNU/Linux WebPivot
Comment=Quick Access to the web
Path=/usr/local/bin
Exec=azosgnulinuxwprunner
Icon=/usr/share/pixmaps/azoslogowp.png
Terminal=false
Categories=Network;WebBrowser;
